body {
  background-color: #010609;
}
/* 
.screen-title-title {
  color: white;
  margin: 0;
  font-size: 0.8rem;
  padding: 1rem 1rem 0 1rem;
}

.screen-title-sub-title {
  color: white;
  margin: 0;
  font-size: 0.3rem;
  padding-top: 0.5rem;
}

.screen-title-button-group {
  width: 16rem;
  height: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.screen-title-decoration-left {
  width: 18rem;
  height: 3rem;
  margin-left: 0.6rem;
}

.screen-title-decoration-right {
  width: 18rem;
  height: 3rem;
  margin-right: 0.6rem;
}

.screen-title-decoration-bottom-container {
  display: flex;
  justify-content: center;
}

.screen-title-decoration-bottom {
  width: 18rem;
  height: 0.4rem;
  padding-top: 1rem;
} */
